.menuItem {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
}

.Notifications {
  position: fixed;
  border: 1px dashed #E0354B;
  padding: 10px;
  top: 60px;
  right: 20px;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}