.Notifications {
  position: relative;
  border: 1px dashed #E0354B;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 13px;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}